/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    exshuf.nf Configuration File
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default configuration options are defined here
--------------------------------------------------------------------------------
*/

manifest {
    author                  = "Joan Lluis Pons Ramon"
    name                    = "exshuf.nf"
    version                 = "0.1.0"
    description             = "Detection of potential exon shuffling or events"
    homePage                = "https://github.com/jllpons/exshuf"
}


params {
/*
-----------------------------
    Required Parameters
-----------------------------
**MUST** be provided as:
- Cli args:       ( `$ nextflow run main.nf --<param> <val>` )
- Yaml/JSON file: ( `$ nextflow run main -params-file params/file.yaml` )
*/
    genes                   = null
    hits                    = null

/*

/*
-----------------------------
    Parameters with defaults
-----------------------------
Can be overwritten when provided as:
- Cli args:       ( `$ nextflow run main.nf --<param> <val>` )
- Yaml/JSON file: ( `$ nextflow run main -params-file params/file.yaml` )
*/

    kw_type_gene            = "mRNA"
    kw_type_exon            = "CDS"
    kw_type_case_sensitive  = false
    overlap_percent         = 0.5

    outdir                  = 'results'

/*
-----------------------------
    Optional Parameters
-----------------------------
*/
    help                    = null
    version                 = null

    // Mapping manifest so it's accessible in the main.nf script
    manifest                = manifest
}

includeConfig 'conf/modules.config'


// Set bash options
process.shell = """\
bash

set -e # Exit if a tool returns a non-zero status/exit code
set -u # Treat unset variables and parameters as an error
set -o pipefail # Returns the status of the last command to exit with a non-zero status or zero if all successfully execute
"""
