/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
*/

process {
    withName: 'BEDTOOLS_SUBTRACT' {
        ext.args   = '-s'
        ext.prefix = 'introns.gff'
        ext.suffix = 'gff'
        publishDir = [
            path: { "${params.outdir}/per_gene/${meta.id}/intermediates/" },
            mode: "copy",
            overwrite: true,
            pattern: "*introns.gff*"
            ]
    }

    withName: 'BEDTOOLS_INTERSECT_HITS_W_EXONS' {
        ext.args   = '-s -f ' + params.overlap_percent
        ext.prefix = 'hits_exon'
        ext.suffix = 'gff'
        publishDir = [
            path: { "${params.outdir}/per_gene/${meta.id}/" },
            mode: "copy",
            overwrite: true,
            pattern: "hits_exon.gff"
            ]
    }
    withName: 'BEDTOOLS_INTERSECT_HITS_W_INTRONS' {
        ext.args   = '-s -f ' + params.overlap_percent
        ext.prefix = 'hits_intron'
        ext.suffix = 'gff'
        publishDir = [
            path: { "${params.outdir}/per_gene/${meta.id}/" },
            mode: "copy",
            overwrite: true,
            pattern: "hits_intron.gff"
            ]
    }
    withName: 'BEDTOOLS_INTERSECT_HITS_W_GENE_OPP' {
        ext.args   = '-S -f ' + params.overlap_percent
        ext.prefix = 'hits_opposite_strand'
        ext.suffix = 'gff'
        publishDir = [
            path: { "${params.outdir}/per_gene/${meta.id}/" },
            mode: "copy",
            overwrite: true,
            pattern: "hits_opposite_strand.gff"
            ]
    }
    withName: 'BEDTOOLS_INTERSECT_HITS_DEACTIVATED' {
        ext.args   = '-v'
        ext.prefix = 'hits_deactivated'
        ext.suffix = 'gff'
        publishDir = [
            path: { "${params.outdir}/deactivated/" },
            mode: "copy",
            overwrite: true,
            pattern: "hits_deactivated.gff"
            ]
    }

}
